* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: black;
  color:white;
}

nav {
  width: 100vw;
  display: grid;
  z-index: 999;
  grid-template-columns: 1fr 1.8fr;
  height: 3rem;
  line-height: 3rem;
}

nav span {
  font-size: 2rem;
  padding: 0 5rem;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5vw;
  justify-content: space-between;
  list-style: none;
  font-size: 1.3rem;
}

nav ul li a {
  width: 100%;
  padding: 0.8rem 1.8vw;
}

nav ul li a:hover {
  color: green;
}

#home{
  height: fit-content;
}

.main {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  margin-top: 6rem;
}

.home-1 {
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 5vw;
  top: 1.5rem;
}

.home-1 h1 {
  font-size: 90px;
  width: fit-content;
  white-space: nowrap;
}

h1 span {
  color: green;
}

.home-1 p {
  font-size: 25px;
  opacity: 0.2;
  padding: 1rem 0 4rem 0;
  width: fit-content;
  white-space: nowrap;
}

#home img {
  position: relative;
  top: 1rem;
  width: 100%;
  height: 100%;
  border: 5px solid green;
}

.icons {
  font-size: 2.5rem;
  width: 20rem;
  justify-content: space-between;
  display: flex;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2.5s;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 1.8s;
}

.home-2 {
  position: relative;
  width: 260px;
  height: 260px;
  right: 7vw;
}

#about {
  width: 100vw;
  margin-top: 2rem;
  padding: 30px;
  margin-bottom: 3rem;
}

#about h2 {
  font-size: 50px;
  text-align: center;
  white-space: nowrap;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 98%;
}

.info-text {
  padding: 1rem;
}

.info-text p {
  font-size: 1.4rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3rem;
}

#about h3 {
  text-align: center;
  font-size: 200%;
  margin-bottom: 1.8rem;
}

.skills-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.skills-list div {
  margin-bottom: 1rem;
  text-align: center;
}

.skills-list i {
  text-align: center;
  color: green;
  font-size: 2.4rem;
}

.skills-list span {
  text-align: center;
  font-size: 1.8vw;
}

.info-img-div {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.info-img {
  width: 350px;
  height: 450px;
  border: 3px solid green;
}

#projects {
  padding: 20px;
}

#projects h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 3rem;
}

.project {
  border: 4px solid green;
  height: fit-content;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
}

.img-div {
  margin: auto;
  justify-content: center;
}

.project-img {
  margin: auto;
  display: flex;
  width: 250px;
  height: 195px;
}

.projects-container {
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.project-info{
  margin: auto;
  width: 100%;
}

.project-title{
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: center;
}

.project-text{
  padding: 1rem 0.4rem 0 0.4rem;
  text-align: center;
}

.list-inline{
  display:flex;
  list-style: none;
  margin: auto;
  width: 16rem;
  justify-content:space-between;
  margin-top: 1rem;
  padding-right: 5px;
  margin-bottom: 2rem;
}

.list-inline li{
  background-color:green;
  padding: 4px;
  border-radius: 0.2rem;
}

.project-info button{
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 0.3rem 0.6rem;
}

.btn-div{
  margin: auto;
  display: flex;
  justify-content:space-between;
  width: 180px;
}

.btn-1 a,.btn-2 a{
  padding: 0.3rem 0.6rem;
  color:black;
}

#services{
  margin: auto;
  height: fit-content;
}

#services h2{
  text-align: center;
  font-size: 4.5vw;
}

.services-container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content:space-between;
  padding: 2rem;
  column-gap: 5rem;
  justify-content:center;
}

.service{
  border-radius: 30px;
  background-color: green;
  width: 350px;
  height: fit-content;
}

.cover-img{
  display: flex;
  margin: auto;
  position: relative;
  top: 1rem;
  margin-bottom: 3rem;
  border-radius:50px;
  width: 100px;
  height: 100px;
}

.service p{
  padding: 1.2rem 2rem 3rem 2rem;
  font-size: 1.3rem;
  text-align: center;
}

.service h4{
  text-align: center;
  font-size: 1.4rem;
}

.service button{
  margin: auto;
  border-radius: 10px;
  display: flex;
  margin-bottom: 2rem;
}
.service button a{
  color: black;
  padding: 0.5rem 1.5rem;
} 

#contact{
  height: fit-content;
}

#contact h4{
  text-align: center;
  font-size: 4vw;
  font-family: sans-serif;
}

.contact-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2rem;
  justify-content: space-between;
}
.form-div {
  height: fit-content;
  min-width: fit-content;
  width: 100%;
  flex: 1;
  margin: auto;
}

form {
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  max-width: 100%;
}

.form-div h5{
  font-size: 3.4rem;
  text-align: center;
  padding: 1.2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: white;
  background: transparent;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2s;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}

#submit-btn {
  padding: 10px 0;
  color: white;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: rgb(190, 184, 184);
  transition-duration: 1s;
  color: black;
  font-weight: 700;
}


.other-div{
  flex: 1;
  background-color: green;
  border-radius: 3em;
}

.other-div h5{
  margin-top:1.5rem;
  text-align: center;
  font-size: 2.5rem;
}

.other-div div{
  display: flex;
  width: fit-content;
  position: relative;
  top: 3rem;
  left: 6rem;
}


.other-div p{
  padding: 1rem;
  font-size: 1.2rem;
}

.other-div span{
  opacity: 0.4;
}


.other-div i{
  font-size: 2.3rem;
  height: fit-content;
  margin: auto;
  
}

footer{
  background-color: green;
  width: 100vw;
  height: 3.5rem;
  line-height: 3.5rem;
}

footer p{
  text-align: center;
  font-size: 1.2rem
}



@media screen and (max-width: 1080px){
  .projects-container {
    display: block;
    row-gap: 1rem;
  }
  .project {
    width: 100%;
    margin-bottom: 1rem;
  }
  .project-title{
    font-size:1.6rem;
  }
  .project-info p{
    padding-right: 3px;
  }
}

@media screen and (max-width: 950px) {
  #home img {
    display: none;
  }
  #home h1{
    font-size: 70px;
  }

  .home-2 {
    display: none;
  }
  .info {
    width: 100%;
    grid-template-columns: none;
  }

  .info-img-div {
    display: none;
  }

  .skills-list span {
    font-size: 2.5vw;
  }

   .services-container {
    row-gap: 1rem;
   }

  .contact-container{
    display:block;
  }
  .other-div{
    display: none;
  }
}

@media screen and (max-width: 575px) {
  #about h2{
    font-size: 8vw;
  }
  #project h2{
    font-size:10vw;
  }
  .project {
    display: block;
  }

  .project-img{
    width: 20rem;
    margin-top: 1rem;
    height: 15rem;
  }
  .project-text{
    margin:auto;
    margin: 0 1rem 0 1rem;
  }
}

@media screen and (max-width: 400px) {
 
  .img-div{
    display: flex;
    justify-content: center;
  }
  .row{
    display: block;
  }
  
}
