* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: black;
  color: white;
  width: 100vw;
}

section {
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  z-index: 999;
  grid-template-columns: 1fr 1.8fr;
  height: 3rem;
  line-height: 3rem;
}

nav span {
  font-size: 2rem;
  padding: 0 5rem;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5vw;
  justify-content: space-between;
  list-style: none;
  font-size: 1.3rem;
}

nav ul li a {
  width: 100%;
  padding: 0.8rem 1.8vw;
}

nav ul li a:hover {
  color: green;
}

.main {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  margin-top: 6rem;
}

.home-1 {
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 5rem;
  top: 1.5rem;
}

.home-1 h1 {
  font-size: 90px;
  width: fit-content;
  white-space: nowrap;
}

h1 span {
  color: green;
}

.home-1 p {
  font-size: 1.5rem;
  opacity: 0.2;
  padding: 1rem 0 4rem 0;
}

#home img {
  position: relative;
  top: 1rem;
  width: 100%;
  height: 100%;
  border: 5px solid green;
}

.icons {
  font-size: 2.5rem;
  width: 20rem;
  justify-content: space-between;
  display: flex;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2.5s;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 1.8s;
}

.home-2 {
  position: relative;
  width: 260px;
  height: 260px;
  right: 7vw;
}

#about {
  width: 100vw;
  margin-top: 10rem;
  padding: 30px;
  margin-bottom: 3rem;
  background-color: blue
}

#about h1 {
  background-color: yellow;
  font-size: 4vw;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 98%;
}

.info-text {
  padding: 1rem;
}

.info-text p {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
  margin-bottom: 3rem;
}

#about h3 {
  text-align: center;
  font-size: 200%;
  margin-bottom: 1.8rem;
}

.skills-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.skills-list div {
  margin-bottom: 1rem;
  text-align: center;
}

.skills-list i {
  text-align: center;
  color: green;
  font-size: 2.4rem;
}

.skills-list span {
  text-align: center;
  font-size: 1.8vw;
}

.info-img-div {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.info-img {
  width: 350px;
  height: 450px;
  border: 3px solid green;
}


#projects {
  padding: 3px;
}

#projects h1 {
  text-align: center;
  font-size: 4vw;
}


.project{
  border: 4px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:100%;
}

.project-img{
  width: 240px;
  height: 240px;
}

.projects-container{
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}









@media screen and (max-width: 850px) {
  #home img {
    display: none;
  }
  .info {
    width: 100%;
    grid-template-columns: none;
  }

  .info-img-div {
    display: none;
  }

  .skills-list span {
    font-size: 2.5vw;
  }


  .projects-container{
    display: block;
    background-color: green;
  }
  .project{
    width: 100%;
    background-color:purple;
  }
}

@media screen and (max-width: 400px){
  .project{
    display: block;
    background-color:orange;
  }
  .img-div,.project-info{
    width: 100%;
  }
  .projects-container{
    background-color: red;
  }
}