*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:white;
}

body{
  overflow-x: hidden;
  background-color:black;
  color:white;
}

audio{
  display: hidden;
}

nav{
  display: flex;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  justify-content: space-around;
}

nav span{
  padding:0.5rem;
  font-size: 2rem;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav ul li{
  list-style: none;

}

nav ul li a{
  padding: 1rem 3rem 1rem 3rem;
}

nav ul li a:hover{
  color: green;
  transition: 1s;
}

.home h1{
  font-family: Roboto, "Helvetica Neue";
  font-size: 6rem;
  position: relative;
  top: 6rem;
  left: 6rem;
  width: fit-content;
}
.techie{
  color: green;
}

.home p{
  position: relative;
  top: 6.5rem;
  left: 6rem;
  font-size: 1.7rem;
  opacity: 0.4;
}

.home img{
  border: 6px solid green;
  position: absolute;
  left: 53rem;
  top: 8rem;
}

.icons{
  position: relative;
  top: 12rem;
  color: white;
  display: flex;
  justify-content: space-around;
  left: 6rem;
  width: 20rem;
  font-size: 3rem;
}